[submodule "utils"]
	path = utils
	url = https://github.com/djqlyy/jetson-utils
	branch = master
[submodule "tools/camera-capture"]
	path = tools/camera-capture
	url = https://github.com/djqlyy/camera-capture
	branch = master
[submodule "python/training/classification"]
	path = python/training/classification
	url = https://github.com/djqlyy/pytorch-classification
	branch = master
[submodule "python/training/detection"]
	path = python/training/detection
	url = https://github.com/djqlyy/pytorch-detection
	branch = master
[submodule "python/training/segmentation"]
	path = python/training/segmentation
	url = https://github.com/djqlyy/pytorch-segmentation
	branch = master
[submodule "plugins/pose"]
	path = plugins/pose
	url = https://github.com/djqlyy/trt_pose
